
{% for programme in programmes %}
    <li>
        <strong>{{ programme.title }}</strong> - {{ programme.description }}
    </li>
{% else %}
    <li>Aucune vidéo associée à ce programme.</li>
{% endfor %}
{# {% for video in videos %}
    <li value="video-{{video.id}}">
        <strong>{{ video.title }}</strong> - {{ video.level.value }}
    </li>
{% else %}
    <li>Aucune vidéo.</li>
{% endfor %} #}