{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block body %}
<div class="flex">
    <div class="w-4/6 bg-slate-100" value="container video">
        <div value="video">
            <div class="m-5 rounded-lg bg-white" value="video">
            <video controls class="w-full h-96" value="video">
                <source src="{{ asset('uploads/video/' ~ video.fichierVideo) }}" type="video/mp4">
                Your browser does not support the video tag.
            </div>
            <div class="text-white mx-5" value="info">
                <div value="titre">
                    <h2 class="text-2xl font-bold">{{ video.title }}</h2>
                </div>
                <div value="theme et level">
                    <div class="my-1" value="theme">
                        <p class="text-base px-5 py-1 rounded-full bg-white w-fit text-black">{{ video.theme }}</p>
                    </div>
                    <div value="level">
                    {% if video.level.value == "Débutant" %}
                        <p class="text-base px-5 py-1 rounded-full bg-green-200 w-fit text-black">{{ video.level.value }}</p>
                    {% elseif video.level.value == "Intermédiare" %}
                        <p class="text-base px-5 py-1 rounded-full bg-orange-200 w-fit text-black">{{ video.level.value }}</p>
                    {% elseif video.level.value == "Avancé" %}
                        <p class="text-base px-5 py-1 rounded-full bg-red-200 w-fit text-black">{{ video.level.value }}</p>
                    {% endif %}
                    </div>
                </div>
                <div value="description">
                    <p class="text-base">{{ video.description }}</p>
                </div>
            </div>
        </div>
        <div value="commentaire">
        </div>
    </div>
    <div class="w-2/6 h-10 bg-red-500" value="container suggestion">
        <div>
            <div value="titre suggestion">
            </div>
            <div value="suggestion">
            </div>
        </div>
    </div>
</div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ video.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ video.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ video.description }}</td>
            </tr>
            <tr>
                <th>Theme</th>
                <td>{{ video.theme }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ video.image }}</td>
            </tr>
            <tr>
                <th>FichierVideo</th>
                <td>{{ video.fichierVideo }}</td>
            </tr>
            <tr>
                <th>NoteGlobal</th>
                <td>{{ video.noteGlobal }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ video.status }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ video.level.value }}</td>
            </tr>
            <tr>
                <th>View</th>
                <td>{{ video.view }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_video_index') }}">back to list</a>

    <a href="{{ path('app_video_edit', {'id': video.id}) }}">edit</a>

    {{ include('video/_delete_form.html.twig') }}
{% endblock %}
