{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block body %}
<div class="flex">
    <div class="w-4/6" value="container video">
        <div value="video">
            <div class="m-5 rounded-lg bg-white" value="video">
            <video controls class="w-full h-96" value="video">
                <source src="{{ asset('uploads/video/' ~ video.fichierVideo) }}" type="video/mp4">
                Your browser does not support the video tag.
            </div>
            <div class="mx-7 mb-4 flex justify-between" value="info">
                <div>
                    <div value="titre">
                        <h2 class="text-2xl font-bold text-black">{{ video.title }}</h2>
                    </div>
                    <div value="theme et level">
                        <div class="my-1" value="theme">
                            {% if video.theme == 'Haut du corps' %}
                            <span class="inline-flex items-center rounded-md bg-blue-100 px-2 py-1 text-xs font-medium text-blue-700">{{video.theme}}</span>
                            {% elseif video.theme == 'Bas du corps' %}
                            <span class="inline-flex items-center rounded-md bg-pink-100 px-2 py-1 text-xs font-medium text-pink-700">{{video.theme}}</span>
                            {% elseif video.theme == 'Corps complet' %}
                            <span class="inline-flex items-center rounded-md bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600">{{video.theme}}</span>
                            {% elseif video.theme == 'Cardio' %}
                            <span class="inline-flex items-center rounded-md bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600">{{video.theme}}</span>
                            {% elseif video.theme == 'Hit' %}
                            <span class="inline-flex items-center rounded-md bg-purple-100 px-2 py-1 text-xs font-medium text-purple-700">{{video.theme}}</span>
                            {% endif %}
                        </div>
                        <div value="level">
                            {% if video.level.value == 'Débutant' %}
                            <span class="inline-flex items-center rounded-md bg-green-100 px-2 py-1 text-xs font-medium text-green-700">{{video.level.value}}</span>
                            {% elseif video.level.value == 'Intermédiare' %}
                            <span class="inline-flex items-center rounded-md bg-yellow-100 px-2 py-1 text-xs font-medium text-yellow-800">{{video.level.value}}</span>
                            {% elseif video.level.value == "Avancé" %}
                            <span class="inline-flex items-center rounded-md bg-red-100 px-2 py-1 text-xs font-medium text-red-700">{{video.level.value}}</span>
                            {% endif %}
                        </div>
                    </div>                    
                </div>
                <div>
                    <div value="vue">
                        <p class="text-base text-black font-bold">{{ video.view }}<sup class="ml-1 font-light">vues</sup></p>
                    </div>
                    <div value="note">
                    {% include 'parts/conditions/videoNote.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="mx-7">
                <div class="pr-10 font-bold" value="description">
                    <p class="text-event text-base text-black truncate">{{ video.description }}</p>
                </div>
            </div>
        </div>
        <div value="commentaire">
        </div>
    </div>
    <div class="w-2/6 h-screen" value="container suggestion">
        <div>
            <div value="titre suggestion">
                <h2 class="text-2xl text-center">D'autres vidéo avec le thème <br> <span class="font-bold underline">{{ video.theme }}</span></h2>
            </div>
            <div value="suggestion">
                {% for video in videoSame %}
                    <a href="{{ path('app_video_show', {'id': video.id}) }}">
                        <div class="flex m-2 first:mt-6">
                            <div class="w-48 mr-2">
                                <img class="rounded-lg h-24 w-full bg-center object-cover" src="{{ asset('uploads/image/' ~ video.image )}}">
                            </div>
                            <div>
                                <div>
                                    <h3>{{ video.title}}</h3>
                                </div>
                                <div class="flex gap-2">
                                    {% include 'parts/conditions/videoTheme.html.twig' %}
                                    {% include 'parts/conditions/videoLevel.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </a>
                {% else %}
                    <div>
                        <p>Aucune vidéo du même thème</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ video.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ video.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ video.description }}</td>
            </tr>
            <tr>
                <th>Theme</th>
                <td>{{ video.theme }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ video.image }}</td>
            </tr>
            <tr>
                <th>FichierVideo</th>
                <td>{{ video.fichierVideo }}</td>
            </tr>
            <tr>
                <th>NoteGlobal</th>
                <td>{{ video.noteGlobal }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ video.status }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ video.level.value }}</td>
            </tr>
            <tr>
                <th>View</th>
                <td>{{ video.view }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_video_index') }}">back to list</a>

    <a href="{{ path('app_video_edit', {'id': video.id}) }}">edit</a>

    {{ include('video/_delete_form.html.twig') }} #}
{% endblock %}
