{% extends 'base.html.twig' %}

{% block title %}Challenge index{% endblock %}

{% block body %}
    <h1>Challenge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Goal</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for challenge in challenges %}
            <tr>
                <td>{{ challenge.id }}</td>
                <td>{{ challenge.name }}</td>
                <td>{{ challenge.goal }}</td>
                <td>{{ challenge.startDate ? challenge.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ challenge.endDate ? challenge.endDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_challenge_show', {'id': challenge.id}) }}">show</a>
                    <a href="{{ path('app_challenge_edit', {'id': challenge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_challenge_new') }}">Create new</a>
{% endblock %}
