{% extends 'base.html.twig' %}

{% block title %}Programme index{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <h1>Programme index</h1>
    {# {% include 'parts/programme/programme-card.html.twig' %} #}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Level</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for programme in programmes %}
            <tr>
                <td>{{ programme.id }}</td>
                <td>{{ programme.title }}</td>
                <td>{{ programme.description }}</td>
                <td>{{ programme.level.value }}</td>
                <td>
                    <a href="{{ path('app_programme_show', {'id': programme.id}) }}">show</a>
                    <a href="{{ path('app_programme_edit', {'id': programme.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_programme_new') }}">Create new</a>
{% endif %}
{% endblock %}
