{% extends 'base.html.twig' %}

{% block title %}Hello ProgrammeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% for programme in programmes %}
    <li>
        <strong>{{ programme.title }}</strong> <br>
        Description : {{ programme.description }}
        niveau : {{ programme.level.value }}
    </li>
    {% for video in programme.videoId %}
        <li>
            <strong>{{ video.title }}</strong> - {{ video.description }}
        </li>
    {% else %}
        <li>Aucune vidéo associée à ce programme.</li>
    {% endfor %}
{% else %}
    <p>Aucun programme disponible.</p>
{% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        console.log('Hello Webpack Encore! Edit me in assets/app.js');
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset("css/programme.css")}}">
{% endblock %}
